* {
  background-color: #282c34;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@font-face {
  font-family: 'Acme', sans-serif;
  src: local('Acme-Regular'), url(./fonts/Acme-Regular.ttf) format('woff');
}
