.categoryItems {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: space-evenly;
  grid-gap: 2%;
  margin-left: 40px;
  margin-right: 40px;
}
.item {
  width: 200px;
  height: 200px;
}
