.categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1%;
  }
  
  .category img {
    width: 200px;
    height: 200px;
  }
  
  .container:hover {
    outline-style: solid;
    outline-color: #25DDF4;
  }